
	
	.burntOrangeGradient {
		/* Burnt orange gradient */
		background: rgb(98,55,30);
		background: -webkit-linear-gradient(bottom, rgba(98,55,30,1) 25%, rgba(157,89,49,1) 100%);
		background: -o-linear-gradient(bottom, rgba(98,55,30,1) 25%, rgba(157,89,49,1) 100%);
		background: linear-gradient(to top, rgba(98,55,30,1) 25%, rgba(157,89,49,1) 100%);
	}

	.greenGradient {
		/* Green background color of the transition blocks */
		background: rgb(40,52,31);
		background: -webkit-linear-gradient(bottom, rgba(40,52,31,1) 25%, rgba(74,98,57,1) 100%);
		background: -o-linear-gradient(bottom, rgba(40,52,31,1) 25%, rgba(74,98,57,1) 100%);
		background: linear-gradient(to top, rgba(40,52,31,1) 25%, rgba(74,98,57,1) 100%);
	}

	.blueGradient {
		background: rgb(1,35,52);
		background: -webkit-linear-gradient(bottom, rgba(1,35,52,1) 0%, rgba(4,111,161,1) 100%);
		background: -o-linear-gradient(bottom, rgba(1,35,52,1) 0%, rgba(4,111,161,1) 100%);
		background: linear-gradient(to top, rgba(1,35,52,1) 0%, rgba(4,111,161,1) 100%);
	}

	/* Common classes */
	.clear:before, .clear:after {
	  content: ' ';
	  display: table; 
	}

	.clear {
	  *zoom: 1; 
	}

	.clear:after {
		clear: both; 
	}

	/* Page content */
	html, body
	{
		overflow-x: hidden;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	  display: block; 
	}

	[hidden], template {
	  display: none; 
	}

	dfn {
	  font-style: italic; 
	}

	mark {
	  background: #ff0;
	  color: #000; 
	}

	svg:not(:root) {
	  overflow: hidden; 
	}

	figure {
	  margin: 1em 40px; 
	}

	::-moz-selection {
	  background: #b3d4fc;
	  text-shadow: none; 
	}

	::selection {
	  background: #b3d4fc;
	  text-shadow: none; 
	}

	.fs {
		/* Note: removing the height will collapse all of the screens. This may prove to be useful when modifying this */
		height: 100vh; 
		width: 100%;
		overflow-x: hidden;
	}

	.mediaPlayer {
		white-space: nowrap;
		overflow: hidden;
		/* The players z-index must be set lower than the rest of the elements, or the media player will bleed through the other elements that should be on top of this */
		z-index: 0;

		widows: 640px;
		height: 480px;
	}

	/* Styles for text containers */
	.splashTitle {

	}

	.splashTitleWithShadow {
		font-family: "Eras Demi";/*'Kaufmann Script Bold'; */
		font-size: 1.6em;
		text-shadow: 
			5px 5px 20px #000,
			10px 10px 50px #000,
			20px 20px 100px #000;
	}

	/* Blurb on home page */	
	.splashContentFont {
		font-family: "Eras Demi";/*'Kaufmann Script Bold'; */
		font-size: var(--splashTitleFontSize);
		text-shadow: 
			5px 5px 20px #000,
			10px 10px 50px #000,
			20px 20px 100px #000;
	}

	/* General styles */ 

	/* Header */
	.header-container {
		text-align: var(--scrollViewTextAlign);
		color: #ffffff; 
	}

	.header-container .wrapper {
		padding-top: 120px;
		z-index: 2;
		position: relative;
	}

	/* Css for main layers */ 
	.bcg {
		background: no-repeat center center;
		background-size: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		/* Main opacity (this is no longer needed for desktop, and it makes things ugly on mobile devices).
		opacity: 0.5;*/
	}

	/* Images: note- if you use center, the image may not be at full screen and show a white artifact when using smaller displays.*/
	.header-container .bcg {
		/* The parallax arch is here */
	}

	/* Slide 1 is a parallax */
	#slide02 .bcg {
		background: url(/images/background/gregoryAlexander/blog/yellowStoneRedMedHigh.jpg) no-repeat center top;
		background-size: cover; 
			-webkit-background-size: cover;
			-moz-background-size:  cover;
			-o-background-size: cover;
	}

	#slide03 .bcg {
		background: url(/images/background/gregoryAlexander/blog/zionValleyMedHigh.jpg) no-repeat center center;
		background-size: cover; 
			-webkit-background-size: cover;
			-moz-background-size:  cover;
			-o-background-size: cover;
	}

	#slide04 .bcg {
		background: url(/images/background/gregoryAlexander/blog/staircaseMedHigh.jpg) no-repeat center center;
		background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size:  cover;
			-o-background-size: cover;
		opacity: 0.7; 
	}

	#slide05 .bcg {
		background: url("/images/background/gregoryAlexander/blog/weepingRockFlippedLowRes.jpg") no-repeat center center;
		background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size:  cover;
			-o-background-size: cover;
		opacity: 0.7; 
	}

	#slide06 .bcg {
		background: url(/images/background/gregoryAlexander/bandonSunsetLowRes.jpg) no-repeat center center;
		background-size: cover;
			-webkit-background-size: cover;

			-moz-background-size:  cover;
			-o-background-size: cover;
		opacity: 0.7; 
	}

	/* Slides */
	.slide {
		/* Font properties of the slides */
		color: #ffffff;
		position: relative; 
		font-family: "Eras Demi";/*'Kaufmann Script Bold'; */
		font-size: var(--sceneFontSize) !important;
		/* Hard back text shadow  */
		text-shadow: 3px 3px 0 #000000;
		/* Second text shadow with black 18 pixel glow */
		text-shadow: 3px 3px 18px #000000;
	}

	.slide .wrapper {
		padding-top: 30px;
		text-align: var(--scrollViewTextAlign);
		position: relative;
		z-index: 2; 
	}

	/* Content Blocks */
	/* Font properties for the content blocks. */
	.content-block1 .wrapper, .content-block2 .wrapper, .content-block3 .wrapper, .content-block4 .wrapper, .content-block5 .wrapper, .content-block6 .wrapper {
		font-family: "Eras Demi";/*'Kaufmann Script Bold'; */
		font-size: var(--sceneFontSize) !important;
		/* Hard back text shadow  */
		text-shadow: 3px 3px 0 #000000;

		/* Second text shadow with black 18 pixel glow */
		text-shadow: 3px 3px 18px #000000;
	}

	/* 1 off. This particular content block is before the parallax scene and is a little bit different */
	.content-block1 {
		/* Force the width to the viewport. */
		width: 100%;
		/* Text color */
		color: rgba(255, 255, 255, 0.9); 
		height: 450px;/* parallax 1 off */
	}

	/* .content-block1 .wrapper does not exist */
	.content-block1 .wrapper {
		padding-top: 150px;
		padding-right: 0px;
		padding-bottom: 50px;
		padding-left: 0px;
		text-align: var(--scrollViewTextAlign); 
	}

	.content-block2 {
		/* Force the width to the viewport. */
		width: 100%;
		/* Text color */
		color: rgba(255, 255, 255, 0.9); 
		/*height: 600px; parallax 1 off */
	}

	.content-block2 .wrapper { /* Web Development */
		padding: 150px 0;
		text-align: var(--scrollViewTextAlign); 
	}

	.content-block3 {
		/* Force the width to the viewport. */
		width: 100%;
		/* Text color */
		color: rgba(255, 255, 255, 0.9); 
		/*height: 600px; parallax 1 off */
	}

	.content-block3 .wrapper {
		padding: 150px 0;
		text-align: var(--scrollViewTextAlign);
	}

	.content-block4 {
		/* Force the width to the viewport. */
		width: 100%;
		/* Text color */
		color: rgba(255, 255, 255, 0.9); 
		/*height: 100%; parallax 1 off */
	}

	.content-block4 .wrapper {
		padding: 150px 0;
		text-align: var(--scrollViewTextAlign); 
	}

	.content-block5 {
		/* Force the width to the viewport. */
		width: 100%;
		/* Text color */
		color: rgba(255, 255, 255, 0.9); 
		/*height: 100%; parallax 1 off */
	}

	.content-block5 .wrapper {
		padding: 150px 0;
		text-align: var(--scrollViewTextAlign); 
	}

	.content-block6 {
		/* Force the width to the viewport. */
		width: 100%;
		/* Text color */
		color: rgba(255, 255, 255, 0.9); 
		/*height: 100%; parallax 1 off */
	}

	.content-block6 .wrapper {
		padding-top: 20px;
		padding-right: 0px;
		padding-bottom: 75px;
		padding-left: 0px;
		text-align: var(--scrollViewTextAlign);
	}

	/* Animations */
	.slideInUp.slideInUp1 {
		-webkit-transition-delay: 0.2s;
			  transition-delay: 0.2s; 
	}

	.slideInUp.slideInUp2 {
		-webkit-transition-delay: 0.4s;
			  transition-delay: 0.4s; 
	}

	.slideInUp.slideInUp3 {
		-webkit-transition-delay: 0.6s;
			  transition-delay: 0.6s; 
	}

	.slideInUp.slideInUp4 {
		-webkit-transition-delay: 0.8s;
			  transition-delay: 0.8s; 
	}

	/* Header */
	.header-container {
		overflow: hidden;
		position: relative; 
	}

	.header-container .wrapper {
		position: absolute;
		top: 65%; /* The text needs to be in the blue part of the hotspring. */
		left: 50%;
		-webkit-transform: translate(-50%, -120%);
		  -ms-transform: translate(-50%, -120%);
			  transform: translate(-50%, -120%);
		margin: 0;
		padding: 0; 
	}

	.header-container:before {
		font-size: 1em; 
	}

	.bcg {
		opacity: 1; 
	}

	.slide {
		overflow: hidden;
		overflow-x: hidden; 
	}

	/* Prior to the parallax, this setting used to be .slide section { */
	.slide#slide03 section {
		/* This setting controls the width of slide 03 (and slide 1 if the #slide03 is omitted) */
		max-width: 66%; 
	}

	.slide .wrapper {
		/* element positioning */
		position: absolute;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		width: 100%;
		margin: 0; 
		/* Font properties for the slides. */
		vertical-align: middle
		font-family: "Eras Demi";/*'Kaufmann Script Bold'; */
		font-size: var(--sceneFontSize) !important; 
		text-shadow: 
			5px 5px 20px #000,
			10px 10px 50px #000,
			20px 20px 100px #000
	}

	/* Common properties of slides. The properties may be overrridden later */
	.slide#slide01 .wrapper, .slide#slide02 .wrapper, .slide#slide03 .wrapper, .slide#slide04 .wrapper {
		/* Transformations */
		-webkit-transform: translate(0);
			-ms-transform: translate(0);
				transform: translate(0);
	}

	/* Independent properties of the slides. The top bottom, and left will adjust the position of the text on the desktop. */
	.slide#slide01 .wrapper {
		top: auto;
		bottom: var(--slideBottomPercent); /*30%*/
		left: 5%;
		text-align: left;
		padding: 0; 
	}

	.slide#slide02 .wrapper {
		/* Note: in the blog, we must use the following code to align the text elements as there are multiple blocks. Using text-align middle will not work here. */
		position: absolute;
 		top: 50%;
 		display: table-cell;
		vertical-align: middle;
		left: 5%;
		text-align: left;
		padding: 0; 
	}

	.slide#slide03 .wrapper {
		/* Note: in the blog, we must use the following code to align the text elements as there are multiple blocks. Using text-align middle will not work here. */
		position: absolute;
 		top: 50%;
 		display: table-cell;
		vertical-align: middle;
		left: 5%;
		text-align: left;
		padding: 0; 
	}

	.slide#slide04 .wrapper {
		/* Note: in the blog, we must use the following code to align the text elements as there are multiple blocks. Using text-align middle will not work here. */
		position: absolute;
 		top: 50%;
 		display: table-cell;
		vertical-align: middle;
		left: 5%;
		text-align: left;
		padding: 0; 
	}

	.slide#slide05 .wrapper {
		/* Note: in the blog, we must use the following code to align the text elements as there are multiple blocks. Using text-align middle will not work here. */
		position: absolute;
 		top: 50%;
 		display: table-cell;
		vertical-align: middle;
		left: 55%; /* to do: this is a bug. This should be left: 5, something is off here. */
		text-align: left;
		padding: 0;  
	}

	.slide#slide06 .wrapper {
		/* Note: in the blog, we must use the following code to align the text elements as there are multiple blocks. Using text-align middle will not work here. */
		position: absolute;
 		top: 50%;
 		display: table-cell;
		vertical-align: middle;
		left: 55%; /* to do: this is a bug. This should be left: 5, something is off here. */
		text-align: left;
		padding: 0; 
	}

	/* Text color in the slides */
	.slide#slide01 {
		color: #ffffff; 
	}

	.slide#slide02 {
		color: #ffffff; 
	}

	.slide#slide03 {
		color: #ffffff; 
	}

	.slide#slide04 {
		color: #ffffff; 
	}

	.slide#slide05 {
		color: #ffffff; 
	}

	.slide#slide06 {
		color: #ffffff; 
	}

	/* Sections (limits the width of the paragraphs) */
	/* Parallax 1 off */
	.slide#slide01 section {
		margin: 0; 
		width: 100%;
		object-fit: cover;
	}

	.slide#slide02 section {
		margin: 0; 
		max-width: var(--sceneContainerWidth); 
	}

	.slide#slide03 section {
		margin: 0;
		max-width: var(--sceneContainerWidth); 
	}

	.slide#slide04 section {
		margin: 0;
		max-width: var(--sceneContainerWidth); 
	}

	.slide#slide05 section {
		margin: 0;
		max-width: var(--sceneContainerWidth); 
	}

	.slide#slide06 section {
		margin: 0;
		max-width: var(--sceneContainerWidth); 
	}

	/* Opacity */	
	.slide#slide01 .bcg {
		opacity: 1; 
	}


	.slide#slide02 .bcg {
		opacity: 1; 
	}

	.slide#slide03 .bcg {
		opacity: 1; 
	}

	.slide#slide04 .bcg {
		opacity: 1; 
	}

	.slide#slide05 .bcg {
		opacity: 1; 
	}

	.slide#slide06 .bcg {
		opacity: 1; 
	}

	nav {
		display: block; 
	}

	/* Simple animation up */
	.slideInUp {
		visibility: hidden;
		opacity: 1;
		-webkit-transition: all 0.7s ease-out;
			  transition: all 0.7s ease-out;
		-webkit-transform: translate3d(0, 50px, 0);
		transform: translate3d(0, 50px, 0); 
	}

	/* Not used.
	.slideInUp .sceneHeaderFont {
		We need to make the header font a bit smaller on mobile devices.
		font-size: var(--sceneHeaderFontSize);
	}
	*/

	.is-active .slideInUp {
		visibility: visible;
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0); 
		/* This is different here. We need to reduce the width to 85% */
		width: 85%;
	}

	/* Web only content blocks */
	 .content-block1 .wrapper {
		visibility: hidden;
		opacity: 0; 
	}

	.content-block1.is-active .wrapper {
		visibility: visible;
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0); 
	}

	.content-block2 .wrapper {
		visibility: hidden;
		opacity: 0; 
	}

	.content-block2.is-active .wrapper {
		visibility: visible;
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0); 
	}

	.content-block3 .wrapper {
		visibility: hidden;
		opacity: 0; 
	}

	.content-block3.is-active .wrapper {
		visibility: visible;
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0); 
	}

	.content-block4 .wrapper {
		visibility: hidden;
		opacity: 0; 
	}

	.content-block4.is-active .wrapper {
		visibility: visible;
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0); 
	}

	.content-block5 .wrapper {
		visibility: hidden;
		opacity: 0; 
	}

	.content-block5.is-active .wrapper {
		visibility: visible;
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0); 
	}

	/* Used on the footer */
	.wrapper {
		width: 80%;
		margin: 0 10%; 
		font-family: "Eras Demi";/*'Kaufmann Script Bold'; */
		font-size: var(--sceneFontSize) !important;
	}

	/* ==========================================================================
	   Helper classes
	   ========================================================================== */
	.hidden {
		display: none !important;
		visibility: hidden; 
	}

	.visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px; 
	}

	.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto; 
	}

	.invisible {
		visibility: hidden; 
	}

	.clearfix:before, .clearfix:after {
		content: " ";
		display: table; 
	}

	.clearfix:after {
		clear: both; 
	}

	.clearfix {
		*zoom: 1; 
	}
		
	/* Rules for the delicate arch parallax. */
	#parallax-section.section {
		height: 100vh;
		width: 100%;
		overflow-x: hidden
	}

	.container {
		width: 100%;
		height: 100vh;
	}

	#parallax-section.images {
		width: 100vw;
		height: 100vh;
		position: relative;
		z-index: -1;
		top: -10%;
	}

	.image-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
	}

	.image-wrapper img {
	  display: block;
	  max-width: 100%;
	  height: 100vh;
	  object-fit: cover; 
	  object-position: 50% 50%; /* default value: image is centered*/
	}

	.parallaxDivider {
		width: 120%;
		margin-left: -10%;
		margin-right: -10%;
		height: 1000px;
		background-color: #392630;
		position: absolute;
		bottom: -1000px;
		filter: blur(.5rem);
		z-index: 999;
	}

	/* States for the header menu */
	ul.k-hover { 
	  background-color: transparent !important;
	  border: 0;
	  border-right: none;
	} 

	ul.k-link { 
	  background-color: transparent !important;
	  border: 0;
	} 
		
	/* Custom classes for the tooltips. These classes will be used to override the base k-tooltip class. */
	.leftTooltipStyle {
		background: #046FA1 !important;   /* Blue matching the left part of the logo */
		width: var(--toolTipWidth);
		height: var(--toolTipHeight);
		font-size: var(--toolTipFontSize);
		border-radius: 10px;
		/* Subtle drop shadow on the main layer */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	/* Custom classes for the tooltips. These classes will be used to override the base k-tooltip class. */
	.rightTooltipStyle {
		background: #698A50 !important; /* Green matching the right part of the logo */
		width: var(--toolTipWidth);
		height: var(--toolTipHeight);
		font-size: var(--toolTipFontSize);
		border-radius: 10px;
		/* Subtle drop shadow on the main layer */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.tooltipTemplateWrapper h3 {
		font-size: 1em;
		font-weight: bold;
		padding: 0px 10px 5px;
		border-bottom: 1px solid #e2e2e2;
		text-align: left;
	}

	.tooltipTemplateWrapper p {
		font-size: 1em;
		padding-top: 0px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		text-align: left;
	}

	/* Kendo class for the grizzly window */
	#grizzlyWindow_wnd_title {
		font-size: 18px;
	}

	.blogFeaturesWrapper {
	  left: 0px !important;
	  text-align: left !important;
	}

	.blogFeatures ul {
		padding: 0px;
		list-style-type: none;

	}	